{% extends 'content/layout.html.twig' %}

{% block content %}
	<div class="container mt-5">
		<h1 class="mb-4">{{ team.team_name }}</h1>
		<div class="mb-4">
			<h2>Founding Year:</h2>
			<p>{{ team.team_foundingDate|date("Y") }}</p>
		</div>
		<div class="mb-4">
			<h2>Trainer:</h2>
			<p>{{ team.team_trainer }}</p>
		</div>

		<div class="mb-4">
			<h2>All Players:</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Age</th>
						<th>Position</th>
						<th>Number</th>
					</tr>
				</thead>
				<tbody>
					{% for player in team.player %}
						<tr>
							<td>{{ player.player_firstName }}</td>
							<td>{{ player.player_lastName }}</td>
							<td>{{ calculate_age(player.player_dateOfBirth) }}</td>
							<td>{{ player.player_possition }}</td>
							<td>{{ player.player_number }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="mb-4">
			<h2>Location:</h2>
			<p>{{ team.location.location_name }}</p>

			<!-- Map Container -->
			<div id="map" style="height: 400px; width: 100%; margin-top: 20px;"></div>
		</div>
	</div>

	<!-- Leaflet CSS -->
	<link
	rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>

	<!-- Leaflet JS -->
	<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

	<!-- Map Initialization Script -->
	<script>
        var map = L.map('map').setView([
        {{ team.location.location_geoPoint.latitude }}, {{ team.location.location_geoPoint.longitude }}
        ], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'}).addTo(map);

        L.marker([{{ team.location.location_geoPoint.latitude }}, {{ team.location.location_geoPoint.longitude }}]).addTo(map).bindPopup('Team Location').openPopup();
	</script>
{% endblock %}
